---
import { Image } from 'astro:assets';
import LogoD from '@/components/images/logo-dark.png';
import LogoW from '@/components/images/logo-white.png';


---
<footer class="border-t-2 border-gray-200 mt-8 ">
<div class="flex justify-center items-center" >
  <Image src={LogoD} width={24} height={24} alt="logo" class="mt-4"/>
  <Image src={LogoW} width={24} height={24} alt="logo" />
</div>

<p class="block text-sm text-center text-gray-500"
  >© 2025 Bertus Taekema™. All Rights Reserved. Built with
  <a href="https://astro.build/">Astro</a
  > and
  <a href="https://tailwindcss.com">Tailwind.
  </a>
</p>


</footer>

